body {
    background-color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: grid;
    width: 70%;
    height: 80%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 12px solid rgb(255, 45, 45);

}

.header {
    font-family: 'Press Start 2P', cursive;
}

.cell {
    border: 2px solid black;
}

.wrapper {
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    position: relative;
    border: 2px solid black;
}

.bottom {
    border: 2px solid green;
}

.form-range {
    position: relative;
    display: flex;
    width: 100px;
}

ody {
    background-color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: grid;
    width: 70%;
    height: 80%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 12px solid rgb(255, 45, 45);

}


.cell {
    border: 2px solid black;
}

.wrapper {
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    position: relative;
    border: 2px solid black;
}

.bottom {
    border: 2px solid green;
}

.form-range {
    position: relative;
    display: flex;
    width: 100px;
}