body {
    background-image: url("https://res.cloudinary.com/sauda/image/upload/v1641680905/bgneon_ln9ret.jpg");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: grid;
    width: 70%;
    height: 80%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 12px solid rgb(255, 45, 45);

}

h1 {
    font-family: 'Press Start 2P', cursive;
}



.main {
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 10%;

}

.buttons {
    display: flex;
    justify-content: center;
    width: inherit;


}

.btn {
    border: solid 1px rgb(255, 73, 17);
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
    font-style: italic;

}

.btn:hover {
    color: white;
    border: solid 1px rgb(255, 73, 17);

    box-shadow:

        0 0 0.3rem rgb(253, 186, 62),
        0 0 0.3rem rgb(253, 186, 62),
        0 0 1.2rem rgb(253, 186, 62),
        inset 0 0 0 0;
}

.btn:focus {
    color: white;
    border: solid 1px rgb(255, 73, 17);

    box-shadow:

        0 0 0.3rem rgb(253, 186, 62),
        0 0 0.3rem rgb(253, 186, 62),
        0 0 1.2rem rgb(253, 186, 62),
        inset 0 0 0 0;
}



.wrapper {
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    position: relative;

}


.gridrange {
    position: relative;
    display: flex;
    width: 40%;
}