body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: grid;
    width: 50%;
    height: 60%;
    position: absolute;

    border: 2px solid rgb(255, 45, 45);

}




.wrapper {
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    position: relative;
    border: 2px solid black;
}